<template>
    <v-app>
        <v-container
            id="user-profile-view"
            fluid
            tag="section"
        >
            <v-row justify="center">
                <v-col
                cols="12"
                md="4"
                class="mt-16"
                >
                    <material-card
                    color="primary"
                    icon="mdi-account-outline"
                    >
                    <template #title>
                        DENR X — <small class="text-body-1">Online Document Action System</small>
                    </template>

                    <v-form>
                        <v-container class="py-0">
                        <v-row>
                            <v-col
                            cols="12"
                            md="12"
                            class="pl-10 pr-15"
                            >
                            <v-alert
                            :value="showError"
                            type="error"
                            dismissible
                            >
                            Incorrect login credentials!
                            </v-alert>
                            <v-text-field
                                name="username"
                                type="text"
                                label="Username"
                                prepend-icon="mdi-account"
                                :rules="[rules.required]"
                                v-model="username"
                            />
                            </v-col>
                            <v-col
                            cols="12"
                            md="12"
                            class="pl-10 pr-15"
                            >
                            <v-text-field
                                name="password"
                                type="password"
                                label="Password"
                                prepend-icon="mdi-lock"
                                :rules="[rules.required]"
                                v-model="password"
                            />
                            </v-col>

                            <v-col
                            cols="12"
                            class="text-right"
                            >
                            <v-btn
                                color="secondary"
                                :class="{'btndisabled' : inputValidated}"
                                min-width="150"
                                @click="login"
                                :loading="loadingActive"
                            >
                                Login
                            </v-btn>
                            </v-col>
                        </v-row>
                        </v-container>
                    </v-form>
                    </material-card>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</template>

<style scoped>
.btndisabled{
  pointer-events: none;
  opacity: 0.6;
}
</style>

<script>
  export default {
    name: 'Login',
    data: () => ({
      showError: false,
      loadingActive: false,
      username: '',
      password: '',
      errMsg: '',
      rules: {
        required: value => !!value || 'Required',
      },
    }),
    methods: {
      login () {
        this.loadingActive = true

        this.$store.dispatch('user/LOGIN', {
          _username: this.username,
          _password: this.password,
        })
          .then(success => {
            this.loadingActive = false
            if (success) {
              this.$router.push('/')
            }
          })
          .catch(error => {
            this.errMsg = error
            this.showError = true
            this.loadingActive = false
          })
      },
    },
    computed: {
      inputValidated () {
        const x = true
        const y = false
        return this.username === '' || this.password === '' ? x : y
      },
    },
  }
</script>
