<template>
  <v-container
    id="dashboard-view"
    fluid
    tag="section"
  >
    <v-row>
      <v-dialog
        v-model="dialog"
        width="800px"
      >
        <v-overlay :value="isFile">
          <material-snackbar
            v-model="isFile"
            type="error"
            timeout="-1"
            top
          >
            ERROR!! <span class="font-weight-bold">&nbsp;Attachment is required.&nbsp;</span>
          </material-snackbar>
        </v-overlay>
        <v-card>
          <v-card-title class="primary white--text">
            Create Document
          </v-card-title>
          <v-form
            ref="docForm"
            @submit.prevent="saveDocument"
          >
            <v-container>
              <v-row class="mx-2">
                <v-col
                  class="align-center justify-space-between"
                  cols="6"
                >
                  <v-text-field
                    v-model="myOffice"
                    prepend-icon="mdi-office-building-marker-outline"
                    label="Receiving Office"
                    disabled
                  />
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    prepend-icon="mdi-file-sync"
                    label="Document No."
                    value="Auto-generate on submit"
                    disabled
                  />
                </v-col>
                <!-- Date Received -->
                <v-col
                  cols="6"
                >
                  <v-dialog
                    ref="dateReceivedDialog"
                    v-model="dateReceivedModal"
                    :return-value.sync="dateReceived"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="dateReceived"
                        label="Date Received"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        :rules="ruleValidation"
                        required
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="dateReceived"
                      scrollable
                    >
                      <v-spacer />
                      <v-btn
                        text
                        color="primary"
                        @click="dateReceivedModal = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.dateReceivedDialog.save(dateReceived)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <!-- Time Received -->
                <v-col
                  cols="6"
                >
                  <v-dialog
                    ref="timeReceivedDialog"
                    v-model="timeReceivedModal"
                    :return-value.sync="timeReceived"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="timeReceived"
                        label="Picker in dialog"
                        prepend-icon="mdi-clock-time-four-outline"
                        readonly
                        v-bind="attrs"
                        :rules="ruleValidation"
                        required
                        v-on="on"
                      />
                    </template>
                    <v-time-picker
                      v-if="timeReceivedModal"
                      v-model="timeReceived"
                      full-width
                    >
                      <v-spacer />
                      <v-btn
                        text
                        color="primary"
                        @click="timeReceivedModal = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.timeReceivedDialog.save(timeReceived)"
                      >
                        OK
                      </v-btn>
                    </v-time-picker>
                  </v-dialog>
                </v-col>
                <!-- Document Deadline -->
                <v-col
                  cols="6"
                >
                  <v-dialog
                    ref="docDateDeadlineDialog"
                    v-model="docDateDeadlineModal"
                    :return-value.sync="docDateDeadline"
                    persistent
                    width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="docDateDeadline"
                        label="Document Deadline"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      />
                    </template>
                    <v-date-picker
                      v-model="docDateDeadline"
                      scrollable
                    >
                      <v-spacer />
                      <v-btn
                        text
                        color="primary"
                        @click="docDateDeadlineModal = false"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.docDateDeadlineDialog.save(docDateDeadline)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <!-- ARTA Deadline -->
                <v-col
                  cols="6"
                >
                  <v-text-field
                    v-model="docDateDeadline"
                    label="ARTA Deadline"
                    prepend-icon="mdi-calendar"
                    readonly
                    disabled
                  />
                </v-col>
                <!-- Classification -->
                <v-col cols="12">
                  Document Classification
                </v-col>
                <v-col
                  cols="6"
                >
                  <v-radio-group
                    v-model="docClassification"
                    row
                    :rules="ruleValidation"
                    required
                  >
                    <v-radio
                      label="Confidential"
                      value="Confidential"
                    />
                    <v-radio
                      label="General Circulation"
                      value="General Circulation"
                    />
                  </v-radio-group>
                </v-col>
                <!-- Subject -->
                <v-col
                  cols="12"
                >
                  <v-textarea
                    v-model="subject"
                    outlined
                    label="Subject"
                    :rules="ruleValidation"
                    required
                    @keyup="uppercaseSubject"
                  />
                </v-col>
                <!-- Sender -->
                <v-col
                  cols="12"
                >
                  <v-textarea
                    v-model="sender"
                    outlined
                    label="Name of sender and address/office"
                    height="20"
                    :rules="ruleValidation"
                    required
                    @keyup="uppercaseSender"
                  />
                </v-col>
                <!-- FileInput -->
                <v-col
                  cols="12"
                >
                  <span
                    v-if="editModal && hasFile"
                  >
                    <v-icon>mdi-file-pdf</v-icon>
                    <a
                      :href="attcmntbaseUrl + fileName"
                      target="_blank"
                    >
                      Attachment
                    </a>
                    <v-btn
                      class="mx-2"
                      fab
                      dark
                      small
                      color="secondary"
                      @click="hasFile = false"
                    >
                      <v-icon
                        dark
                      >
                        mdi-close
                      </v-icon>
                    </v-btn>
                  </span>
                  <v-file-input
                    v-else
                    v-model="file"
                    show-size
                    accept="application/pdf"
                    outlined
                    dense
                    prepend-icon="mdi-file-pdf"
                    :error-messages="isFile ? ['This field is required'] : '' "
                  />
                </v-col>
              </v-row>
            </v-container>
            <v-card-actions>
              <v-spacer />
              <v-btn
                text
                color="primary"
                @click="cancelModal()"
              >
                Cancel
              </v-btn>
              <v-btn
                v-if="editModal"
                text
                type="submit"
              >
                Update
              </v-btn>
              <v-btn
                v-else
                text
                type="submit"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
      <v-col cols="4">
        <v-btn
          color="primary"
          @click="openModal()"
        >
          <v-icon
            dark
            left
          >
            mdi-file-plus
          </v-icon>
          New Document
        </v-btn>
      </v-col>
    </v-row>
    <!-- 2nd row -->
    <v-row>
      <v-col>
        <div>
          <v-data-table
            :headers="headers"
            :items="filterDocs"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-toolbar
                flat
                color="white"
              >
                <v-toolbar-title>
                  <v-icon>mdi-file-multiple</v-icon>
                  My Documents
                </v-toolbar-title>
                <v-divider
                  class="mx-4"
                  inset
                  vertical
                />
                {{ myOffice }}
                <v-spacer />
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  placeholder="Search"
                  class="mr-16"
                  color="primary"
                  hide-details
                  style="max-width: 220px"
                  @input="handleSearch"
                  @keyup="uppercaseSearch"
                />
                <!-- <default-search class="hidden-sm-and-down" /> -->
              </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn
                color="primary"
                @click="initialize"
              >
                Reset
              </v-btn>
            </template>
          </v-data-table>
        </div>
      </v-col>
    </v-row>
    <!-- Delete modal -->
    <v-row
      justify="center"
    >
      <v-dialog
        v-model="deletedialog"
        max-width="290"
      >
        <v-card>
          <v-card-title
            class="text-h5"
          />

          <v-card-text>
            <v-icon
              color="secondary darken-2"
            >
              mdi-exclamation
            </v-icon>
            Are you sure you want to delete this document?
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              color="secondary darken-1"
              text
              @click="deletedialog = false"
            >
              No
            </v-btn>
            <v-btn
              color="secondary darken-1"
              text
              @click="deleteDoc()"
            >
              Yes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog :value="documentisLoading">
      <v-overlay>
        <v-row
          class="fill-height"
          align-content="center"
          justify="center"
        >
          <v-col
            class="text-subtitle-1 text-center"
            cols="12"
          >
            Please wait...
          </v-col>
          <v-col cols="12">
            <v-progress-linear
              color="primary accent-4"
              indeterminate
              rounded
              height="6"
            />
          </v-col>
        </v-row>
      </v-overlay>
    </v-dialog>
    <v-dialog :value="issent">
      <v-overlay>
        <v-row
          class="fill-height"
          align-content="center"
          justify="center"
        >
          <v-col
            class="text-subtitle-1 text-center"
            cols="6"
          >
            <v-img
              :src="require('@/assets/check2.gif')"
            />
          </v-col>
        </v-row>
      </v-overlay>
    </v-dialog>
  </v-container>
</template>

<script>
  // Utilities
  import { sync } from 'vuex-pathify'
  import _ from 'lodash'

  export default {
    name: 'MyDocuments',

    components: {
      // DefaultSearch: () => import(
      //   /* webpackChunkName: "default-search" */
      //   '../layouts/default/widgets/Search'
      // ),
    },

    data: () => ({
      attcmntbaseUrl: 'http://localhost:8081/upload/',
      dialog: false,
      deletedialog: false,
      headers: [
        {
          text: 'Document No.',
          align: 'start',
          sortable: false,
          value: 'document_no',
        },
        { text: 'Subject', value: 'subject' },
        { text: 'Document Deadline', value: 'docDeadline' },
        { text: 'ARTA Deadline', value: 'artaDeadline' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      userinfo: {},
      issent: false,
      isFile: false,
      hasFile: false,
      editModal: false,
      document_no: '',
      myOffice: '',
      dateReceived: '',
      timeReceived: '',
      dateReceivedModal: false,
      timeReceivedModal: false,
      docDateDeadline: '',
      docDateDeadlineModal: false,
      docClassification: 'General Circulation',
      subject: '',
      sender: '',
      file: [],
      myName: '',
      ruleValidation: [],
      errmsg: 'Field is required',
      deleteID: '',
      editID: '',
      fileName: '',
      search: '',
    }),

    computed: {
      ...sync('documents', [
        'documentisLoading',
        'filterDocs',
      ]),

      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    mounted () {
      const user = JSON.parse(window.localStorage.user)
      this.userinfo = user
      this.myName = user.empid
      this.myOffice = user.section
      this.$store.dispatch('documents/GETMYDOCUMENTS')
    },

    created () {
    },

    methods: {
      saveDocument () {
        this.ruleValidation = [
          v => !!v || 'Field is required',
        ]
        const vm = this
        setTimeout(function () {
          if (vm.$refs.docForm.validate()) {
            if (vm.hasFile === false) {
              vm.isFile = vm.file.length === 0 || vm.file === null
            }

            if (!vm.isFile || vm.hasFile) {
              const formData = new FormData()

              formData.append('dateTimeReceived', vm.dateReceived + ' ' + vm.timeReceived)
              formData.append('docDeadline', vm.docDateDeadline)
              formData.append('classification', vm.docClassification)
              formData.append('subject', vm.subject)
              formData.append('sender', vm.sender)
              formData.append('file', vm.file)
              formData.append('officeOrigin', vm.myOffice)
              formData.append('userid', vm.myName)
              formData.append('id', vm.editID)
              formData.append('fileuploaded', vm.fileName)
              vm.$store.dispatch('documents/CREATEDOCUMENT', formData)
                .then(success => {
                  vm.issent = true
                  if (success) {
                    vm.resetForm()
                    setTimeout(function () {
                      vm.issent = false
                      vm.$store.dispatch('documents/GETMYDOCUMENTS')
                      vm.dialog = !vm.editModal
                    }, 1000)
                  }
                })
                .catch(error => {
                  console.log(error)
                })
            }
          }
        }, 100)
      },

      editItem (item) {
        const datetime = item.datetimeReceived.split(' ')
        this.subject = item.subject
        this.editID = item.id
        this.sender = item.sender
        this.document_no = item.document_no
        this.dateReceived = datetime[0]
        this.timeReceived = datetime[1]
        this.docDeadline = item.docDeadline
        this.artaDeadline = item.artaDeadline
        this.docClassification = item.docClassification
        this.fileName = item.fileAttchmnt
        this.dialog = true
        this.hasFile = true
        this.editModal = true
      },

      deleteItem (item) {
        this.deletedialog = true
        this.deleteID = item.id
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },

      initialize () {
        this.$store.dispatch('documents/GETMYDOCUMENTS')
      },

      resetForm () {
        this.$refs.docForm.reset()
        const vm = this
        setTimeout(function () {
          vm.file = []
          vm.docDateDeadline = ''
          vm.myOffice = vm.userinfo.section
        }, 1000)
      },

      openModal () {
        if (this.document_no !== '') {
          this.resetForm()
          this.document_no = ''
        }
        this.dialog = true
        this.editModal = false
        this.editID = ''
      },

      cancelModal () {
        this.dialog = false
        this.resetForm()
      },

      uppercaseSubject () {
        this.subject = this.subject.toUpperCase()
      },

      uppercaseSender () {
        this.sender = this.sender.toUpperCase()
      },

      uppercaseSearch () {
        this.search = this.search.toUpperCase()
      },

      deleteDoc () {
        this.deletedialog = false
        console.log(this.deleteID)
        this.deletedialog = false
        const id = this.deleteID
        const vm = this
        this.$store.dispatch('documents/DELETEDOCUMENT', id)
          .then(success => {
            vm.$store.dispatch('documents/GETMYDOCUMENTS')
            vm.issent = true
            if (success) {
              setTimeout(function () {
                vm.issent = false
              }, 1000)
            }
          })
          .catch(error => {
            console.log(error)
          })
      },

      handleSearch: _.debounce(function () {
        this.$store.commit('documents/search', this.search)
        this.$store.get('documents/search', this.search)
      }, 500),
    },

  }
</script>
