<template>
  <v-list
    expand
    nav
    v-bind="$attrs"
    v-on="$listeners"
  >
    <template v-for="(item, i) in items">
      <!-- <default-list-group
        v-if="item.items"
        :key="`group-${i}`"
        :item="item"
      /> -->

      <default-list-item
        v-if="canView(item.visibleToUsers)"
        :key="`item-${i}`"
        :item="item"
      />
    </template>
  </v-list>
</template>

<script>
  export default {
    name: 'DefaultList',

    components: {
      // DefaultListGroup: () => import('./ListGroup'),
      DefaultListItem: () => import('./ListItem'),
    },
    props: {
      items: {
        type: Array,
        default: () => ([]),
      },
    },
    data: () => ({
      canUserView: false,
    }),

    mounted () {
    },

    methods: {
      canView (can) {
        const user = JSON.parse(window.localStorage.user)
        return can.includes(user.acct_type)
        // const listInfo = this.items[0]
        // const user = JSON.parse(window.localStorage.user)
        // this.canUserView = listInfo.visibleToUsers.includes(user.acct_type)
      },
    },

  }
</script>
